USE [master]
GO

/****** Object:  Database [Pay_Food_DB]    Script Date: 11/03/2017 23:11:27 ******/
CREATE DATABASE [Pay_Food_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Pay_Food_DB', FILENAME = N'H:\Pay_food_DB\Pay_Food_DB.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Pay_Food_DB_log', FILENAME = N'H:\Pay_food_DB\Pay_Food_DB_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO

IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Pay_Food_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO



USE [Pay_Food_DB]
GO
/****** Object:  Table [dbo].[FACTURA]    Script Date: 11/03/2017 23:23:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FACTURA](
	[Id_Factura] [int] IDENTITY(1,1) NOT NULL,
	[Fecha_Factura] [datetime2](7) NOT NULL,
	[Id_Persona] [int] NOT NULL,
 CONSTRAINT [primary key1] PRIMARY KEY CLUSTERED 
(
	[Id_Factura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[FACTURA_HAS_PRODUCTOS]    Script Date: 11/03/2017 23:23:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FACTURA_HAS_PRODUCTOS](
	[Factura_Id_Factura] [int] NOT NULL,
	[Productos_Id_Productos] [int] NOT NULL,
	[SubTotal] [float] NOT NULL,
	[Iva] [float] NOT NULL,
	[Total] [float] NOT NULL,
 CONSTRAINT [primary key4] PRIMARY KEY CLUSTERED 
(
	[Factura_Id_Factura] ASC,
	[Productos_Id_Productos] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PERSONA]    Script Date: 11/03/2017 23:23:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PERSONA](
	[Id_Persona] [int] IDENTITY(1,1) NOT NULL,
	[Nombres] [varchar](100) NOT NULL,
	[Apellidos] [varchar](100) NOT NULL,
	[Correo_Electronico] [varchar](100) NOT NULL,
	[Fecha_Nacimiento] [datetime2](7) NOT NULL,
	[Contrasenia] [varchar](45) NOT NULL,
	[Administra] [varchar](2) NOT NULL,
	[Estado] [char](1) NOT NULL,
 CONSTRAINT [primary key] PRIMARY KEY CLUSTERED 
(
	[Id_Persona] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PERSONA_HAS_SUCURSAL]    Script Date: 11/03/2017 23:23:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERSONA_HAS_SUCURSAL](
	[Persona_Id_Persona] [int] NOT NULL,
	[Sucursal_Id_Sucursal] [int] NOT NULL,
 CONSTRAINT [primary key7] PRIMARY KEY CLUSTERED 
(
	[Persona_Id_Persona] ASC,
	[Sucursal_Id_Sucursal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PRODUCTOS]    Script Date: 11/03/2017 23:23:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PRODUCTOS](
	[Id_Productos] [int] IDENTITY(1,1) NOT NULL,
	[Id_Tipo_Producto] [int] NOT NULL,
	[Descripcion] [varchar](100) NOT NULL,
	[Valor_Producto] [float] NOT NULL,
 CONSTRAINT [primary key3] PRIMARY KEY CLUSTERED 
(
	[Id_Productos] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[RESTAURANTE]    Script Date: 11/03/2017 23:23:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[RESTAURANTE](
	[Id_Restaurante] [int] IDENTITY(1,1) NOT NULL,
	[Restaurante_Nombre] [varchar](100) NOT NULL,
 CONSTRAINT [primary key5] PRIMARY KEY CLUSTERED 
(
	[Id_Restaurante] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SUCURSAL]    Script Date: 11/03/2017 23:23:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SUCURSAL](
	[Id_Sucursal] [int] IDENTITY(1,1) NOT NULL,
	[Sucursal_Nombre] [varchar](45) NOT NULL,
	[Id_Cadena] [int] NOT NULL,
	[Id_Reataurante] [int] NOT NULL,
 CONSTRAINT [primary key6] PRIMARY KEY CLUSTERED 
(
	[Id_Sucursal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TIPOPRODUCTOS]    Script Date: 11/03/2017 23:23:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TIPOPRODUCTOS](
	[Id_TipoProductos] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [varchar](100) NOT NULL,
 CONSTRAINT [primary key2] PRIMARY KEY CLUSTERED 
(
	[Id_TipoProductos] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[FACTURA]  WITH CHECK ADD  CONSTRAINT [fk_Factura_Persona1] FOREIGN KEY([Id_Persona])
REFERENCES [dbo].[PERSONA] ([Id_Persona])
GO
ALTER TABLE [dbo].[FACTURA] CHECK CONSTRAINT [fk_Factura_Persona1]
GO
ALTER TABLE [dbo].[FACTURA_HAS_PRODUCTOS]  WITH CHECK ADD  CONSTRAINT [fk_Factura_has_Productos_Factura] FOREIGN KEY([Factura_Id_Factura])
REFERENCES [dbo].[FACTURA] ([Id_Factura])
GO
ALTER TABLE [dbo].[FACTURA_HAS_PRODUCTOS] CHECK CONSTRAINT [fk_Factura_has_Productos_Factura]
GO
ALTER TABLE [dbo].[FACTURA_HAS_PRODUCTOS]  WITH CHECK ADD  CONSTRAINT [fk_Factura_has_Productos_Productos1] FOREIGN KEY([Productos_Id_Productos])
REFERENCES [dbo].[PRODUCTOS] ([Id_Productos])
GO
ALTER TABLE [dbo].[FACTURA_HAS_PRODUCTOS] CHECK CONSTRAINT [fk_Factura_has_Productos_Productos1]
GO
ALTER TABLE [dbo].[PERSONA_HAS_SUCURSAL]  WITH CHECK ADD  CONSTRAINT [fk_Persona_has_Sucursal_Persona1] FOREIGN KEY([Persona_Id_Persona])
REFERENCES [dbo].[PERSONA] ([Id_Persona])
GO
ALTER TABLE [dbo].[PERSONA_HAS_SUCURSAL] CHECK CONSTRAINT [fk_Persona_has_Sucursal_Persona1]
GO
ALTER TABLE [dbo].[PERSONA_HAS_SUCURSAL]  WITH CHECK ADD  CONSTRAINT [fk_Persona_has_Sucursal_Sucursal1] FOREIGN KEY([Sucursal_Id_Sucursal])
REFERENCES [dbo].[SUCURSAL] ([Id_Sucursal])
GO
ALTER TABLE [dbo].[PERSONA_HAS_SUCURSAL] CHECK CONSTRAINT [fk_Persona_has_Sucursal_Sucursal1]
GO
ALTER TABLE [dbo].[PRODUCTOS]  WITH CHECK ADD  CONSTRAINT [fk_Productos_TipoProductos1] FOREIGN KEY([Id_Tipo_Producto])
REFERENCES [dbo].[TIPOPRODUCTOS] ([Id_TipoProductos])
GO
ALTER TABLE [dbo].[PRODUCTOS] CHECK CONSTRAINT [fk_Productos_TipoProductos1]
GO
ALTER TABLE [dbo].[SUCURSAL]  WITH CHECK ADD  CONSTRAINT [fk_Sucursal_Cliente1] FOREIGN KEY([Id_Reataurante])
REFERENCES [dbo].[RESTAURANTE] ([Id_Restaurante])
GO
ALTER TABLE [dbo].[SUCURSAL] CHECK CONSTRAINT [fk_Sucursal_Cliente1]
GO
